# Geral
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.sublime-*
*.log
*.tmp
*.bak
*.swp
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/
*.cache

# Python (FastAPI/Django)
venv/
env/
.venv/
ENV/
*.env
.env.*
*.secret
*.key
*.sqlite3
*.db
migrations/
.coverage
coverage.xml
*.cover
htmlcov/
.pytest_cache/
.tox/
dist/
build/
*.egg-info/
*.whl

# React
node_modules/
npm-debug.log
yarn-error.log
build/
dist/
.out/
.env
.env.local
.env.development
.env.production
.env.test
.parcel-cache/
.eslintcache
.tscache

# Outros
docs/_build/
_site/
.vercel/
.netlify/
*.tfstate
*.tfstate.backup
notes.txt
todo.md
*.bak