.rodape{
    display: flex;
    gap: 50px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 29, 29);

    & p{
    color: white;
    font-size: 20px;
    }
}