/* Estilo base - Mobile First (até 575px) */
.rodape {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 29, 29);
  padding: 1rem;
}

.rodape p {
  color: white;
  font-size: 16px;
  text-align: center;
}
